<style>
*{
    margin: 0;
    padding: 0;
}
.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}


</style>

<h1>Edit your Review</h1>
<p><%= @error %></p>
<form method="post" action="/reviews/<%=@review.id%>">
    <input type="hidden" name="_method" value="patch">

    <label>Star Ratings (1-5): </label><br>
    <input type="text" name="review[stars]" value="<%=@review.stars%>">
    <br><br>
    
    <label>Review: </label><br>
    <textarea name="review[post]" ><%=@review.post%></textarea><br><br><br>

    <button type="submit">Submit</button>
</form>

<form method="post" action="/reviews/<%= @review.id %>">
    <input type="hidden" name="_method" value="delete">
    <% if @review.user && session[:user_id] == @review.user.id %>
        <button type="submit">Delete Review</button>
    <% end %>
</form>